<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Price</th>
    <th>Brand</th>
    <th>Color</th>
    <th>Description</th>
    <th>Manufacturer</th>
  </tr>
  </thead>
  <tbody>

  <% @products.each do |product| %>
      <tr>
        <td><%= image_tag(product.images[0] || "default_image.jpg", size: "100x100") %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.brand %></td>
        <td><%= product.color %></td>
        <td><%= product.description %></td>
        <td><%= product.manufacturer %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @products %>
